<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Staj_Takip_Sistemi.Properties.Settings.crudConnectionString"
            connectionString="Data Source=DESKTOP-QFS3MJA\SQLEXPRESS;Initial Catalog=crud;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Staj_Takip_Sistemi.Properties.Settings.Staj_Takip_SistemiConnectionString"
            connectionString="Data Source=DESKTOP-RJFLT08;Initial Catalog=&quot;Staj Takip Sistemi&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Staj_Takip_Sistemi.Properties.Settings.StajProjeConnectionString"
            connectionString="Data Source=DESKTOP-4UEBQES\SQLEXPRESS;Initial Catalog=StajProje;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>